.MainWindow {
    -fx-background-color: #444444;
    -fx-font-size: 14;
}

.Label {
    -fx-text-fill: #fff;
}

.Button {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #ffa500, #ffb833);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.Button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #ffc500, #ffd833);
}

.ButtonCommand {
    -fx-pref-width: 160px;
    -fx-padding: 10px;
}
